@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

h1{
   font-weight: bolder;
   font-size: 45px;
   text-align: center;
   color: #e65617
}

body{ background-color: #ecebf1  ;}
span{ color:#24345b; }
i { color: #e65617; font-size: 35px; margin: 15px 15px; }
i:hover{ cursor: pointer; color: #f38252 ;}

#botoes {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
#corpo {margin-top: 7.5%;}


.corpo_azul{ background-color: #24345b ; }
.letra_branca{ color: #ecebf1 ; }
.letra_laranja{ color: #e65617; }
.letra_amarelo{ color: #ffc107; }
.letra_azul{ color:#24345b; }

.caixa_alta { text-transform: uppercase;}
.caixa_baixa{ text-transform: lowercase; }
.capitalizado{ text-transform: capitalize; }
.titulo{ text-transform:unset; }

.animar { animation-duration: 1s; animation-fill-mode: both;}
.animar-infinito:hover { animation-iteration-count: infinite; }

.btn {
   margin-left: 5px;
}

.pulse { animation-name: pulse; }
.fadeIn { animation-name: fadeIn; }


@keyframes pulse {
   from {  transform: scale3d(1, 1, 1);}
   50% {  transform: scale3d(1.05, 1.05, 1.05);}
   to { transform: scale3d(1, 1, 1);}
}
 
@keyframes fadeIn {
   from { opacity: 0; }
   to {opacity: 1; }
}


@media (max-width: 750px){
   #botoes {
      flex-direction: column;
   }
   .btn{
      margin-top: 5px;
   }
}